<div class="wrapper">
  <div class="card-container" *ngFor="let video of videos">
    <a [routerLink]="[showOrMovie(video.type), video.name]">
      <md-card>
        <img md-card-image [src]="video.coverSource" alt="{{video.name}}">
        <md-card-title>{{video.name}}</md-card-title>
      </md-card>
    </a>
  </div>

</div>
