.card-container {
  width: 150px;
  display: inline-block;
  padding: 13px;
  white-space: normal!important;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.wrapper {
  white-space: nowrap;
  overflow: auto;
}
