<div *ngIf="!showRegister; else register">

  <h1 md-dialog-title>Login</h1>

  <md-dialog-content>
    <p>
      Don't have an account? <button md-button (click)="switchToRegister()" color="primary">Register now</button>
    </p>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <md-input-container class="full-width">
        <input mdInput type="email" placeholder="Email" id="email" formControlName="email">
        <md-error *ngIf="email.hasError('required')">
          Field required
        </md-error>
      </md-input-container>
      <md-input-container class="full-width">
        <input mdInput type="password" placeholder="Password" id="password" formControlName="password">
        <md-error *ngIf="password.hasError('required')">
          Field required
        </md-error>
      </md-input-container>
    </form>
    <br>
  </md-dialog-content>
  <md-dialog-actions>
    <button md-button color="primary" (click)="onSubmit()" [disabled]="!loginForm.valid">LOGIN</button>
  </md-dialog-actions>

</div>

<ng-template #register>
  <mv-register></mv-register>
</ng-template>
