<h1 md-dialog-title>Register</h1>

<md-dialog-content>
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <md-input-container class="full-width">
      <input mdInput type="text" placeholder="Username" id="username" formControlName="username">
      <md-error *ngIf="username.hasError('required')">
        Field required
      </md-error>
      <md-error *ngIf="username.hasError('pattern')">
        Minimum 4 characters
      </md-error>
    </md-input-container>
    <md-input-container class="full-width">
      <input mdInput type="email" placeholder="Email" id="email" formControlName="email">
      <md-error *ngIf="email.hasError('required')">
        Field required
      </md-error>
      <md-error *ngIf="email.hasError('pattern')">
        Invalid email
      </md-error>
      <md-error *ngIf="email.hasError('duplicateEmail')">
        Email already registered
      </md-error>
    </md-input-container>
    <md-input-container class="full-width">
      <input mdInput type="password" placeholder="Password" id="password" formControlName="password">
      <md-error *ngIf="password.hasError('required')">
        Field required
      </md-error>
      <md-error *ngIf="password.hasError('pattern')">
        Minimum 6 characters
      </md-error>
    </md-input-container>
  </form>
  <br>
</md-dialog-content>
<md-dialog-actions>
  <button md-button color="primary" (click)="onSubmit()" [disabled]="!signupForm.valid">REGISTER</button>
</md-dialog-actions>
