.fill {
  flex: 1 1 auto;
}

md-toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  -webkit-box-shadow: 0px 7px 22px 0px rgba(0,0,0,0.31);
  -moz-box-shadow: 0px 7px 22px 0px rgba(0,0,0,0.31);
  box-shadow: 0px 7px 22px 0px rgba(0,0,0,0.31);
}

.sidenav-toggle {
  width: 40px;
}
