<md-toolbar color="primary">

  <md-icon *xs role="button" class="sidenav-toggle mat-icon material-icons" (click)="onSidenavToggleClick()">menu</md-icon>

  <span [routerLink]="['/']" style="cursor: pointer; outline: none">EasyMoviez</span>

  <span class="fill"></span>

  <a *ngIf="!isLoggedIn()" md-button (click)="openLogin()"><i class="material-icons">account_circle</i>  LOGIN</a>
  <a *ngIf="isLoggedIn()" md-button ><i class="material-icons">account_circle</i>  Account</a>


</md-toolbar>
