<video id="video_{{video.id}}"
       class="video-js vjs-defalt-skin vjs-big-play-centered vjs-16-"
       controls
       preload="auto">
       <!--*ngIf="video.path"-->
  <source src="{{video.path}}" type="video/mp4">
  <source src="{{video.path}}" type="video/webm">
  <source src="{{video.path}}" type="video/webm; codecs=vp8, vorbis">
  <source src="{{video.path}}" type='video/x-matroska; codecs="avc, a_ac3"'>
  <source src="{{video.path}}" type='video/x-matroska; codecs="theora, vorbis"'>
  <track src="{{video.subtitleSource}}" srclang="en" label="English">
  <p class="vjs-no-js">
    To view this video please enable JavaScript, and consider upgrading to a web browser that
    <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
  </p>
</video>
