<mv-navbar class="navbar" ></mv-navbar>

<div id="container">
  <md-sidenav-container class="sidenav">


    <md-sidenav *showItBootstrap="['xs']" #sidenav mode="over" opened="false">
      <mv-sidenav></mv-sidenav>
    </md-sidenav>
    <md-sidenav *hideItBootstrap="['xs']" mode="side" opened="true" disableClose>
      <mv-sidenav></mv-sidenav>
    </md-sidenav>

    <div class="content">
      <router-outlet></router-outlet>
    </div>




  </md-sidenav-container>
</div>


