<h3>Add new movie</h3>
<form (ngSubmit)="movieSubmit(mf)" #mf="ngForm">
  <label for="name">Video Name</label>
  <input type="text" name="name" id="name" ngModel><br>

  <label for="videoSource">Video source path</label>
  <input type="text" name="videoSource" id="videoSource" [value]="[(selectedVideo)]" ngModel><br>

  <label for="quality">Quality</label>
  <select name="quality" id="quality" ngModel>
    <option value="cam">Cam</option>
    <option value="720p">720p</option>
    <option value="1080p">1080p</option>
    <option value="4K">4K</option>
  </select><br>

  <button type="submit">Submit</button>
</form>

<h3>Add new TV serie</h3>
<form (ngSubmit)="serieSubmit(sf)" #sf="ngForm">
  <label for="name">Video Name</label>
  <input type="text" name="name" id="sname" ngModel><br>

  <label for="season">Season</label>
  <input type="number" name="season" id="season" ngModel> <button type="button" (click)="addVideos()">Add videos</button><br>

  <label for="cover">Cover Source</label>
  <input type="text" name="cover" id="cover" ngModel><br>

  <label for="quality">Quality</label>
  <select name="quality" id="squality" ngModel>
    <option value="cam">Cam</option>
    <option value="720p">720p</option>
    <option value="1080p">1080p</option>
    <option value="4K">4K</option>
  </select><br>

  <div *ngFor="let season of seriesArray; let s = index">
    Season: {{season.season}}
    <div *ngFor="let video of seriesArray[s].videos; let i = index">
      {{i + 1}}. <input type="text" placeholder="Title" name="s{{season.season}}e{{i + 1}}" ngModel> {{video}}
    </div>
  </div>


  <label for="type">Type</label>
  <input type="text" name="type" id="stype" value="movie" hidden ngModel><br>

  <button type="submit">Submit</button>
</form>


<div>
  <ul>
    <li (click)="openFolder('uponelevel')" class="link"><i class="material-icons">folder</i> ..</li>
    <li
      *ngFor="let folder of folders"
      (click)="openFolder(folder)"
      class="link">
      <i class="material-icons">folder</i> {{folder}}
    </li>
    <li
      *ngFor="let file of files"
      (click)="addVideo(file)"
      class="link">
      <i class="material-icons">insert_drive_file</i> {{file}}</li>
  </ul>
</div>
